<div class="container" style="padding-top: 50px;">
    <p>home works!</p>

    <p>today {{  today | date :"MMM YYY" }}</p>

 <form  #firstform='ngForm'  (ngSubmit)='handleform(firstform.value)'>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email"
      required
      ngModel

      #email="ngModel"
       name='email'
      >
     
    </div>
     <div class='alert alert-danger'
         *ngIf="!email.valid && email.touched" >

         email is not valid
     </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <!-- welcome message -->
 <p style="padding-top: 47px;">{{name}}</p>
<app-child [name]="name" (onEmitValues)="handleEmitValues($event)"></app-child>

</div>


